.progress {
  position: relative;
  left: 750px;
  top: 150px;
}

.counterGrid {
  max-height: 150px;
  max-width: 250px;
  position: relative;
  top: 12px;
  left: 450px;
  outline: 3px red;
  outline-style: solid;
}
.mainDivOfPhotoList {
  position: absolute;
  background: white;
  max-width: 400px;
  max-height: 660px;
  left: 1335px;
  top: 20px;
  outline: 3px red;
  outline-style: solid;
}
@media only screen and (orientation: landscape) {
  .disableElement {
    display: none;
  }
  .todoList {
    background: white;
    top: 20%;
    min-height: 240px;
    min-width: 200px;
    width: 100%;
    height: 80%;
    margin-left: -1.36%;
    position: absolute;
  }
}
@media only screen and (orientation: portrait) {
  .disableElement {
    display: none;
  }
  .todoList {
    background: white;
    top: 15.5%;
    min-height: 240px;
    min-width: 100px;
    width: 100%;
    height: 84.5%;
    margin-left: -2.5%;
    position: absolute;
  }
}

.formList {
  background: white;
  max-height: 240px;
  max-width: 300px;
  position: absolute;
  left: 162px;
  top: 530px;
  outline: 3px red;
  outline-style: solid;
}
