.progress {
  position: relative;
  left: 750px;
  top: 150px;
}
.disableElement {
  display: none;
}
.counterGrid {
  height: 240px;
  width: 250px;
  position: relative;
  top: 50px;
  left: 750px;
}
.mainDivOfPhotoList {
  position: relative;
  left: 750px;
  background: white;
  width: 400px;
  top: -50px;
}
.todoList {
  background: white;
  height: 540px;
  width: 600px;
  position: relative;
  left: 650px;
  top: -50px;
}
.formList {
  background: white;
  height: 240px;
  width: 300px;
  position: relative;
  left: 750px;
  top: -50px;
}
