@media only screen and (orientation: landscape) {
  .todo_main_div {
    overflow: auto;
    position: relative;
    left: 5%;
    width: 95%;
    height: 70%;
  }

  .menuButton {
    position: relative;
    margin: 1 auto;
    width: 10%;
  }
}
@media only screen and (orientation: portrait) {
  .todo_main_div {
    overflow: auto;
    position: relative;
    left: 30px;
    width: 95%;
    height: 85%;
  }

  .menuButton {
    width: 10%;
  }
}
.formControlLabel_style {
  text-decoration: line-through;
}
.MENU {
  height: 60px;
}
